@import url("../fonts/HelveticaNeueCyr/font-Helvetica.css");
@import "wide-slider.scss";
@import "calendar-slider.scss";
@import "mixins.scss";
body {
	margin: 0;
}
.ibg{
	background-position: center;
	background-repeat: no-repeat;
	&--contain{
		background-size: contain;
	}
	&--cover{
		background-size: cover;
	}
}
.mask{
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	&--elliptic{
		mask-image:url("../images/eliptic-shape.svg");
	}
	&--reverse-elliptic{
		mask-image:url("../images/reverse-ellipse.svg");
	}
	&--egg{
		mask-image:url("../images/egg.svg");
	}
}
.full-image{
	width: 100%;
	height: 100%;
}
.container{
	box-sizing: border-box;
	width: 1320px;
	height: auto;
	margin: auto;
	padding: 0 15px;
}
@media screen and (max-width: 1400px) {
	.container{
		width: 1140px;
	}
}
@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
}
@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}
}
@media screen and (max-width: 768px) {
	.container{
		width: 100%;
	}
}
.menu {
	&__wrapper {
		width: 100%;
	}
	&__top {
		width: 90%;
		margin: auto;
		&__top-bar {
			display: flex;
			justify-content: center;
			height: 29px;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 100%;
		}
		&__images {
			height: 137px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 15px;
			@media screen and (max-width: 768px) {
				height: 94px;
			}
			@media screen and (max-width: 576px) {
				height: 50px;
			}
			&__image-wrap{
				flex: 0 0 15%;
				display: flex;
				align-items: center;
			}
			&__image-wrap>img {
				width: 100%;
				height: auto;
			}
		}

		&__text {
			margin-bottom: 20px;
			text-align: center;
			width: 100%;
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 24px;
			color: #0C4DA2;
			text-transform: uppercase;
		}
	}
	&__bottom {
		width: 100%;
		&__top-bar {
			height: 42px;
			width: 100%;
		}
		&__bottom-img {
			width: 100%;
		}
		&__bottom-img>img{
			width: 100%;
			height: auto;
		}
	}
}
.top-bar-menu {
	&__buttons {
		@media screen and (max-width: 576px) {
			display: none;
		}
	}
	&__text-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 20px;
		&__element{
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 14px;
			margin-left: 7px;
			margin-right: 7px;
			color: #00BBB4;
			text-transform: uppercase;
		}

	}
	@media screen and (max-width: 1220px) {
		&__text-menu {
			display: none;
		}
	}
	&__social-media {
		&__icon {
			margin: 0px 5px;
			height: 100%;
			width: auto;
		}
	}
}
.bottom-bar-menu {
	height: 42px;
	&__bg-wrapper {
		display: flex;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	&__home-bg {
		background: #0C4DA2;
		flex: 1 1 5%;
		transform-origin: right;
		transform: rotate(30deg) scale(20) translate(5px);
	}
	&__home-icon{
		position: absolute;
		z-index: 1;
		left: -10px;
		margin: 7px;
		margin-left: 13%;
		height: 28px;
		width: auto;
	}
	&__menu-bg {
		flex: 1 1 85%;
		background: linear-gradient(90deg, #00BAB3 -0.01%, #0364C7 100.02%), #0C4DA2;
	}
	&__menu-list{
		margin-left: 12%;
		height: 100%;
		display: flex;
		justify-content: left;
		padding-right: 10px;
		&__element{
			margin: 0px 5px;
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 15px;
			color: #FFF;
			display: flex;
			align-items: center;
		}
		&__element>span{
			text-align: center;
		}
	}
	@media screen and (max-width: 1215px) {
		&__menu-list{
			display: none;
		}
		&__home-bg{
			display: none;
		}
		&__home-icon{
			display: none;
		}
	}
}
@media screen and (max-width: 1215px) {
	.bottom-bar-menu{
		height: 15px;
	}
}
.btn{
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 5px 15px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #00B0AD;
	color: #034EA2;
	margin: 2px;
	&--blue{
		color: #FFF;
		background: #034DA2;
	}
	&--white{
		background: #FFF;
	}
	&--white-blue-filled{
		background: #E2F4FE;
			
	}
	
}
.input{
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 5px 15px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #00B0AD;
	color: #034EA2;
	margin: 2px;
	@media screen and (max-width: 768px) {
		width: 120px;
	}
	&__container{
		display: inline-block;
	}
	&--white-blue-filled{
		background: #E2F4FE;	
	}
}
.twocol {
	display: flex;
	justify-content: space-between;
	&__col {
		min-width: 0;
		&--2-3 {
			flex: 0 0 60%;
		}
		&--1-3 {
			flex: 0 0 30%;
		}
		&--1-2 {
			flex: 0 0 50%;
		}
	}
}
.block1{
	height: 500px;
}
.events {
	min-width: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	&__title {
		
	}
	&__item {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	&__image {
		flex-grow: 1;
	}
	&__text {
		position: relative;
		top: -30px;
		width: 75%;
	}
}
.decor-text {
	&__text-white{
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: 550;
		font-size: 16px;
		line-height: 16px;
		color: #FFF;
		
	}
	&__blue-title-small{
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: 550;
		font-size: 24px;
		line-height: 24px;
		color: #0C4DA2;

		@media screen and (max-width: 576px) {
			font-size: 18px;
			line-height: 18px;
		}
	}

	&__blue-title-med{
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: 550;
		font-size: 30px;
		line-height: 30px;
		color: #0C4DA2;
		text-transform: uppercase;
	}
	&__blue-title{
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		@include fSize(1500, 910, 36, 18);
		line-height: 1em;
		text-transform: uppercase;
		color: #0C4DA2;

	}
	&__cyan-title-small{
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: normal;
		@include fSize(1440, 910, 24, 14);
		line-height: 1em;
		text-transform: uppercase;
		color: #00B0AD;
	}
	&__main-title{
		text-transform: uppercase;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		@include fSize(1440, 576, 42, 24);
		line-height: 1em;
		color: #00B0AD;
		@media screen and (max-width: 576px) {
			font-size: 24px;
			line-height: 24px;
		}

		
	}
	&__date {
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: 550;
		font-size: 16px;
		line-height: 16px;
		color: #0C4DA2;
		&--padding{
			padding-bottom: 7px;
		}
	}
	&__title {
		text-transform: uppercase;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		color: #FC9B65;
		&--padding{
			padding-bottom: 2px;
		}
	}
	&__text {
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 16px;
		
		&--padding{
			padding-bottom: 18px;
		}
	}
	&__text-big{
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: 550;
		font-size: 16px;
		line-height: 16px;
		text-transform: uppercase;
		color: #0C4DA2;
	}
	&__socials {
		color: #00B0AD;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 23px;
	}
}
.about-proj {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	&__item {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
	}
	&__title {
	}
	&__image {
		flex-grow: 1;
	}
	&__text {
		position: relative;
		top: -30px;
	}
}
.calendar {
	margin-top: 120px;
	&__container {
		display: flex;
		min-width: 0;
		flex-direction: column;

		height: 265px;
	}
	&__title {
	}
	&__slider {
		width: 90%;
		margin: 0 auto;
		.calendar__item{
			&:nth-child(even){//upw
			 	.calendar__month{
					background-color: #0C4DA2;
				}
				.calendar__events-cutoff{
					top: 0;
					bottom: 150px;
					transition: all 0.5s ease;
				}
				
				.calendar__events-cutoff:hover, .calendar__month-wrapper:hover .calendar__events-cutoff{
					top: -400px;
					transition: all 0.5s ease;
				}
				.calendar__events-wrapper{
					top: 100%;
					transform: translateY(-90px);
					background-position: 0 -500px;
					transition: all 0.5s ease;
				}
				.calendar__events-cutoff:hover .calendar__events-wrapper , .calendar__month-wrapper:hover .calendar__events-wrapper{
					transform: translateY(-100%);
					background-position: 0 0;
					transition: all 0.5s ease;
				}
				.calendar__event-line{
					margin-top: 20px;
				}
				.calendar__event-circle{
					left: -6.5px;
					top: -6.5px;
				}
				.calendar__text-wrapper{
					justify-content: start;				
				}
			}
			&:nth-child(odd){ 
				.calendar__month{
					background-color: #00B0AD;
				}
				.calendar__events-cutoff{
					top: 150px;
					bottom: 0;
					transition: all 0.5s ease;
				}
				
				.calendar__events-cutoff:hover, .calendar__month-wrapper:hover .calendar__events-cutoff{
					bottom: -400px;
					transition: all 0.5s ease;
				}
				.calendar__events-wrapper{
					bottom: 100%;
					transform: translateY(90px);
					background-position: 0 500px;
					transition: all 0.5s ease;
				}
				.calendar__events-cutoff:hover .calendar__events-wrapper , .calendar__month-wrapper:hover .calendar__events-wrapper{
					transform: translateY(100%);
					background-position: 0 0;
					transition: all 0.5s ease;
				}
				.calendar__event-line{
					margin-bottom: 20px;
				}
				.calendar__event-circle{
					left: -6.5px;
					bottom: -6.5px;
				}
				.calendar__text-wrapper{
					justify-content: end;
				}
			}
		}
		&__wrap{
			flex-grow: 1;
			display: flex;
			align-items: center;
			min-width: 0;
		}
	}
	&__events-cutoff {
		position:absolute;
		overflow: hidden;
		width: 160%;
		left: 0;
	}
	&__events-wrapper {
		position: absolute;
		height: auto;
		width: 100%;
		padding: 9px 0px 9px 0px;
		margin: 9px 0px 9px 0px;
		display: flex;
		justify-content: start;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.9);
		background-repeat: no-repeat;
		
	}
	
	&__event-wrapper{
		height: 90px;
		display: flex;
		
	}
	&__text-container{
		flex-grow: 1;
		position: relative;
	}
	&__text-wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: start;
		flex-direction: column;
	}
	&__event-line{
		position: relative;
		border-left: 1px solid #222B56;
		margin-left: 6px;
		padding-right: 12px;
	}
	&__event-circle{
		position: absolute;
		border-radius:50%;
		border:3px solid #222B56;
		background: #fff;
		z-index: 10;
		width: 6px;
		height: 6px;
	}
	&__event-title{
		position: relative;

	}
	&__event-text{
		position: relative;
	}
		
	&__item {
		height: 240px !important;
		display: flex;
		justify-content: center;
	}
	&__month-wrapper{
		position: relative;
		display: flex;
	}
	&__month{
		width: 125px;
		align-self: center;
		padding: 6px 0;
		text-align: center;
		text-transform: uppercase;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		color: #fff;
		
	}
}
.block2{
	margin-top: 120px;
	height: 500px;
}
/*.components {
	margin-top: 135px;
	height: 460px;
	&__wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__main-title {
	}
	&__col-wrap {
		display: flex;

		flex-grow:1;
	}
	&__col {
		margin: 0 20px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		&--wide{
			flex-basis: 35%;
		}
	}
	&__col-image-wrap {
		padding-right: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 65%;
	}
	&__col-image{
		width: 60%;
		height: 60%;
	}
	&__col-text-container {
		flex-grow: 0;
	}
	&__col-title-wrap {
		width: 100%;
		display: flex;
	}
	&__col-title{
		position: relative;
	}
	&__col-text {
		width: 100%;
	}
	&__col-num{
		margin-right: 20px;
		height: 100%;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__col-text{
		position: absolute;
		&--bottom{
			bottom:-40%;
		}
		&--top{
			top: -35%;
		}
	}
}*/
.components {
	&__container {
		margin-top: 135px;
		height: 460px;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 1200px) {
			height: 350px;
		}
		@media screen and (max-width: 992px) {
			height: 250px;
		}
		@media screen and (max-width: 768px) {
			height: 650px;
		}

	}
	&__title {
	}
	&__wrap {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
			margin-top: 20px;
			flex-wrap: wrap;
			justify-content: center;
		}
		
	}
	&__element-wrap{
		flex: 0 0 30%;
		display: flex;
		justify-content: center;
		@media screen and (max-width: 768px) {
			flex: 0 0 100%;
			margin-bottom: 40px;
		}
	}
	&__element {
		@media screen and (max-width: 768px) {
			flex: 0 0 30%;
		}
	}
}
.comp-element {
	display: flex;
	flex-direction: column;
	&__icon-wrap {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		margin-right: 40px;
		margin-bottom: 20px;
		flex: 0 0 60%;
		height: 100%;
		@media screen and (max-width: 768px) {
			flex: 0 0 50%;
			margin-right: 0;
		}
	}
	&__content-wrap {
		display: flex;
	}
	&__content {
	}
	&__number-wrap {
		flex: 1 0 20%;
		margin-right: 3%;
	}
	&__number {
		height: 100%;
	}
	&__title-wrap {
		width: fit-content;
		position: relative;
	}
	&__title {
		width: 10em;
	}
	&__subtitle {
		position: absolute;
		margin: 7px 0;
		left: -4px;
		&--top{
			bottom: 100%;
		}
		&--bottom{
			top: 100%;
		}
	}
}

.training {
	&__container {
		margin-bottom: 200px;
		margin-top: 135px;
		height: 450px;
		display: flex;
		flex-direction: column;
		min-width: 0;
	}
	&__title {
	}
	&__slider-wrap {
		flex:1 1 100%;
	}
	&__slider {
		height: 100%;
		display: flex;
		min-width: 0;
	}
	&__slide {
		width: 100%;
		display: flex;
	}
}
.training-slide {
	&__content-wrap {
		flex: 1 1 45%;
		display: flex;
		flex-direction: column;
	}
	&__title {
		margin-top: 20px;
		margin-bottom: 43px;
	}
	&__text-wrap {
		flex: 1 1 100%;
		display: flex;
	}
	&__date-wrap {
		position: relative;
		flex: 1 1 10%;
	}
	&__date{
		position: absolute;
		left: 0;
		bottom: 0;
		transform: rotate(-90deg);

	}
	&__date-container{
		display: inline-block;
		position: relative;
	}
	&__date-text{
		word-break: normal;
		padding: 0 7px;
	}
	&__date-yellow-bar{
		position: absolute;
		background: #FADF54;
		height: 33px;
		width: 100%;
		top: 10px;
		left: 0;
		z-index: -1;
	}
	&__right-text {
		flex: 1 1 90%;
		display: flex;
		flex-direction: column;
	}
	&__timezone-container {
		flex: 1 1 100%;
		display: flex;
		justify-content: start;
		align-items: end;
	}
	&__timezone-wrap{
		margin-left: 65px;
		margin-bottom: 70px;
		position: relative;
		
	}
	&__timezones{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		padding: 30px 0;
	}
	&__timezones-circle{
		position: absolute;
		background: #00B0AD;
		border-radius:50%;
		left: -15%;
		height: 94px;
		width: 94px;
		z-index: -1;

	}
	&__button-wrap {
		display: flex;
	}
	&__social-media-wrap {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__social-icon{
		margin: 0 3px;
	}
	&__connect-wrap {
		flex-grow: 1;
	}
	&__connect-button {
		display: inline-block;
		padding: 14px 50px;
		background: #00B0AD;
		border-radius: 15px;
	}
	&__image {
		flex: 1 1 55%;
	}

	@media screen and (max-width: 992px){
		&__connect-button {
			padding: 14px 29px;
		}
		&__image {
			flex: 1 1 30%;
		}
	}
	@media screen and (max-width: 768px) {
		&__image {
			display: none;
		}
	}
	@media screen and (max-width: 576px) {
		&__timezone-wrap{
			margin-left: 50px;
		}
		&__social-media-wrap {
			display: none;
		}
		&__connect-button {
			margin-left: 48px;
		}
	}
}



//END K







//START G

.arrows {
	&__cols {
		align-items: center;
	}
	&__left {}
	&__left-cols {
		display: flex;
		justify-content: start;
	}
	&__left-col-1 {
		display: flex;
		justify-content: start;
		align-items: center;
		margin-right: 20%;
		img{
			width: 80%;
		}
	}
	&__left-col-2 {
		display: flex;
		justify-content: start;
		align-items: center;
		img{
			width: 80%;
		}
	}
	&__right {}
	&__right-col {
		display: flex;
		justify-content: end;
		align-items: center;
		img{
			width: 51%;
		}
	}
}




.footer {
	&__city-bg {
		img{
			width: 100%;
			margin-bottom: -6px;
		}
	}
	&__wide-bg {
		min-height: 200px;
		background-color: #0C4DA2;
	}
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
	}
	&__title {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		margin: 58px 0 53px;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 24px;	}
	&__cols {
		justify-content: space-around;
	}
	&__col {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text-wrap {
		li {
			list-style: none;
		}
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 32px;
			display: flex;
			align-items: flex-end;
			color: #FFFFFF;
		}
	}
}
